/* login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#roles{
display: flex;
justify-content: center;
align-items: center;
}

.role-option {
    display: inline-block;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

.role-option img {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 0.3s;
}

.role-option.selected img {
    border-color: #007BFF; /* Mavi renk */
}

.role-option span {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

h3{
    height: 100%; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}